body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #f3f4f6, #e2e8f0);
    transition: background-color 0.3s;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    color: #FF5722;
    text-shadow: 2px 2px 0 #FFD54F;
}
h2 {
    color: #4CAF50;
}

.table-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.next-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #45a049;
}

